.mat-display-1 {
    margin: 0px;
    font-weight: bold;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px black;

    .header__container {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
